<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="db_connection" connectionString="Data Source=DESKTOP-R5C6B8S;Initial Catalog=MemPass;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>